//
// First class palette
// 

// General Bright Color
$color1: rgba(255, 255, 255, 1) !default;

$color3: rgba(255, 185, 0, 1) !default;

// Standard
$color4: rgba(198, 99, 6, 1) !default;

// Lighter
$color5: rgba(250, 250, 250, 1) !default;

// Standard
$color6: rgba(217, 108, 6, 1) !default;

// Lighter
$color7: rgba(223, 134, 51, 1) !default;

// General Dark Color
$color8: rgba(0, 0, 0, 1) !default;
$color9: rgba(242, 242, 242, 1) !default;
$color0: rgba(102, 102, 102, 1) !default;
$color11: rgba(227, 227, 227, 1) !default; 

//
// Second class palette
// 
$color1b: rgba(22, 10, 41, 1) !default;
$color2b: rgba(218, 37, 231, 1) !default;
$color3b: rgba(92, 243, 255, 1) !default;
$color4b: rgba(101, 14, 114, 1) !default;
$color5b: rgba(11, 126, 243, 1) !default;
$color6b: rgba(255, 255, 255, 1) !default;
$color7b: rgba(0, 0, 0, 1) !default;